* {
    margin: 0;
}

.encabezado {
    text-align: left;
    background-color: whitesmoke;
    height: 20vh;
}

.tituloPrincipal {
    color: grey;
    font-size: 90px;

}

.sloganPrincipal {
    font-size: 25px;
    padding-left: 15vw;
    color: yellowgreen;
}

.contenedorBoton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 5vh;
}

.boton {
    background: yellowgreen;
    color: white;
    width: 10vw;
    
    text-align: center;
    
    height: 100%;
    margin: auto 20px 0 20px;
}

.fechaYHora {
    background: grey;
    color: white;
    width: 20vw;
    text-align: center;
    height: 100%;
    margin: auto 20px 0 20px;
}

.baner {
    background: url(./../assets/ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 45vh;
    position: relative;
}

.logoBaner {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(50%,-50%);
    width: 20%;
    height: 20%;
    color: white;
    
}

.forumBaner {
    font-size: 55px;
}
 
.sloganBaner {
    position: absolute;
    bottom: 10%;
    left: 2vw;
    color: white;
}

.contenedorCuadros {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.cuadro{
    height: 45vh;
    width: 23%;
    border:black 1px solid;
}

#radio {
    background: rgb(100, 2, 100);
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    
}

#forumRadio {
    border-radius:100px;
    height: 120px;
    width: 120px;
    background: rgb(216, 48, 216);
    border: white 5px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}


#circuloEmprendedores {
    background: grey;
}

#facebook {
    background: white;
}

#contactanos {
    background: greenyellow;
}