* {
    margin: 0;
}

.oGreen {
    color: yellowgreen;
}

.encabezado {
    text-align: left;
    background-color: whitesmoke;
    height: 20vh;
}

.tituloPrincipal {
    color: grey;
    font-size: 90px;

}

.sloganPrincipal {
    font-size: 25px;
    padding-left: 15vw;
    color: yellowgreen;
}

.contenedorBoton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 5vh;
}

.boton {
    background: yellowgreen;
    color: white;
    width: 10vw;
    
    text-align: center;
    
    height: 100%;
    margin: auto 20px 0 20px;
}

.fechaYHora {
    background: grey;
    color: white;
    width: 20vw;
    text-align: center;
    height: 100%;
    margin: auto 20px 0 20px;
}

.baner {
    background: url(./../assets/ciudad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 45vh;
    position: relative;
}

.logoBaner {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(50%,-50%);
    width: 20%;
    height: 20%;
    color: white;
    
}

.forumBaner {
    font-size: 55px;
}
 
.sloganBaner {
    position: absolute;
    bottom: 10%;
    left: 2vw;
    color: white;
}

.contenedorCuadros {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.cuadro{
    height: 45vh;
    width: 23%;
    border:black 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#radio {
    background: rgb(100, 2, 100);
    color: white;
    text-align: center;
    justify-content: space-between;
    /*Eventualmente habrá que sacar este justify-content: space-between*/
}

#forumRadio {
    border-radius:100px;
    height: 160px;
    width: 160px;
    background: rgb(216, 48, 216);
    border: white 5px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#forumRadioNombre {
    font-size: 40px;
    position: absolute;
}

#forumRadioMedio {
    font-size: 20px;
    position: absolute;
    bottom: 25%;
    right: 10%;
}

#onLineBold {
    font-weight: bold;
}

#circuloEmprendedores {
    background: grey;
    color: white;
}

#centroCirculoEmprendedores {
    border-radius:100px;
    height: 140px;
    width: 140px;
    background: grey;
    border: yellowgreen 5px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#invitacionNombre {
    text-align: center;
    font-size: 25px;
}

#invitacionSubtitulo {
    text-align: center;
    font-size: 19px;
}

#centroCirculoTitulo {
    font-size: 26px;
    position: absolute;
    bottom: 45%;
}

#centroCirculoSubtitulo {
    font-size: 17px;
    position: absolute;
    bottom: 35%;
}

.parrafoCirculo {
    font-size: 13px;
    text-align: center;
}

#facebook {
    background: white;
}

#contactanos {
    background: url(./../assets/hojas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

#contactanosHeader {
    position: absolute;
    top: 10%;
}

#contactanosRevista {

}

#contactanosTitulo {
    font-size: 35px;
}

#contactanosContenido {
    position: absolute;
    top: 40%;
    font-size: 13px;
}


#contactanosInformacion {

}