* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.contenedorEncabezado {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}

.encabezado {
    position: relative;
    height: 12.7vh;
    display: flex;
    
}

.titulo {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 23%;
    background: #EDCD1F;
    left: 0;
    color: #1E2D3B;
    display: flex;
    
}

.logoTitulo {
    position: absolute;
    top: 1.8vw;
    left: 2vw;
}

.textoTitulo {
    position: absolute;
    left: 6vw;
    bottom: 1.5vw;
    font-size: 20px;
}

.textoTitulo span {
    font-weight: bolder;
}

.menu {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 77%;
    background: #1E2D3B;
    right: 0;
}

.menu ul {
    display: flex;
    position: absolute;
    right: 0.3vw;
    bottom: 2vw;

}

.menu ul li {
    list-style-type: none;
    margin: 0 43px;
    color: white;
    font-size: 13px;
}

.inicio {
    background: transparent;
    position: absolute;
    height: auto;
    display: flex;
    align-content: center;
    top: 15vh;
    left: 22%;
}

.textoInicio {
    font-weight: bold;
    color: white;
    position: absolute;
    font-size: 57px;
    width: 54vw;
    text-align: center;
    letter-spacing: .2vw;
}

section {
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    
}

.section1 {
    background: url('./../assets/videoimagen.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.section2 {
    background: url('./../assets/construccion.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.servicios {
    position: relative;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.tituloSeccion {
    font-weight: 900;
    color: #1E2D3B;
    font-size: 57px;
    letter-spacing: .2vw;
    margin-bottom: 2vh;
}

#barritaServicios {
    margin: 0 0 3vw 45vw;
}

#tituloServicios {
    text-align: center;
}

.barritaAmarilla {
    background: #EDCD1F;
    width: 116px;
    height: 10px;
}

.contenedorArticulos {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 75vh;
    
    
}

.articulo {
    background: #F7F7F7;
    width: 20.8vw;
    height: 35vw;
    margin: 0 12px;
}

.textoArticulo {
    margin: 24px;
}

.textoArticulo h4 {
    color: #1E2D3B;
    font-size: 20px;
    font-weight: bold;
}

.textoArticulo p {
    font-size: 14px;
    line-height: 1.8;
}

.contenedorNosotros {
    height: 86vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    position: relative;

}

.nosotros {
    margin-left: 16vw;
}

#barritaNosotros {
    margin-bottom: 7vh;
}

.textoNosotros {
    width: 28vw;
    line-height: 1.8;
    font-size: 15px;
}

.barraDatos {
    background: #EDCD1F;
    width: 100%;
    height: 28.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

.dato {
    width: 17vw;
    height: 18vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeroBarra {
    color: #3D5975;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 0;
    margin: 0;
    
}

.textoBarra {
    font-weight: bold;
    color: #3D5975;
    font-size: 20px;
    position: absolute;
    bottom: 1vh;
    text-align: center;
}

.palitoBlanco {
    height: 10vh;
    width: 2px;
    background: white;
    position: relative;
}

#barritaProyectos {
    margin: 0 0 3vw 45vw;
}

#tituloProyectos {
    text-align: center;
}

.proyectos {
    height: 160vh;
}

.contenedorGaleria {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row > img {
    margin: 15px;
}

.row > img:hover {
    opacity: 0.3;
    transition: 0.5s;
}

.clientes {
    position: relative;
    height: 50vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#barritaClientes {
    margin: 0 0 3vw 45vw;
}

#tituloClientes {
    text-align: center;
}

.section3 {
    width: 100%;
    height: 160vh;
}

.section4 {
    width: 100%;
    height: 50vh;
    background: #F7F7F7;
}

.contenedorClientes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.contenedorClientes > img {
    margin: 2vw;
}

#clientesGris > img:hover {
    opacity: 0;
    transition: 0.05s;
}

#barritaContacto {
    margin: 0 0 3vw 45vw;
}

#tituloContacto {
    text-align: center;
}

.tituloContacto {
    font-weight: bold;
    color: #1E2D3B;
    font-size: 22px;
}

#contenedorMapa {
    display: flex;
    justify-content: center;
}

.contenedorInfoContacto {
    display: flex;
    justify-content: ;
    align-items: ;
    flex-direction: row;
    width: ;
}

.columnaInfoContacto {
    height: 100%;
    width: ;
    margin-top: 2vh;
    position: absolute;
}

#col1 {
    left: 17vw;
}

#col2 {
    right: 17vw;
}

.input {
    width: 100%;
}